<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <!-- <a routerLink="./usuarios"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <span>Usuarios</span>
            </a> -->
            <a routerLink="./clavesSat"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>paid</mat-icon>
                <span>Claves del SAT</span>
            </a>
            <a routerLink="./fabricantes"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>build_circle</mat-icon>
                <span>Fabricantes</span>
            </a>
            <a routerLink="./impuestos"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>leaderboard</mat-icon>
                <span>Impuestos</span>
            </a>
            <a routerLink="./marcas"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>emoji_symbols</mat-icon>
                <span>Marcas</span>
            </a>
            <a routerLink="./lineas"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>dns</mat-icon>
                <span>Lineas</span>
            </a>
            <a routerLink="./tiposMovimientos"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>autorenew</mat-icon>
                <span>Tipos de movimientos</span>
            </a>
            <a routerLink="./tiposProductos"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>dynamic_feed</mat-icon>
                <span>Tipos de productos</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        Cronos
        <span class="spacer"></span>
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet> 
    </div>
        
</mat-sidenav-container>