<h1>Lineas</h1>

<button (click)="agregar()" mat-raised-button color="accent">
    <mat-icon>add</mat-icon>
    Nuevo
</button>
<br>
<br>
<table style="text-align: center;" class="responsive-table">
    <th>Línea</th>
    <th>Descripción</th>
    <th>Usuario</th>
    <th>Clasificación</th>
    <th>Editar</th>
    <tr *ngFor="let x of lineas">
        <td>{{ x.linea }}</td>
        <td>{{ x.descrip }}</td>
        <td>{{ x.usuario }}</td>
        <td>{{ x.clasificacion }}</td>
        <td>
            <button mat-button (click)="editar(x)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </tr>
</table>