<!-- <mat-sidenav-container fullscreen> -->
<!-- <app-side></app-side> -->
<h1>{{ 'Fabricantes' | translate }}</h1>

<button (click)="agregarFabricante()" mat-raised-button color="accent">
    <mat-icon>add</mat-icon>
    Nuevo
</button>
<br>
<br>
<table style="text-align: center;" class="responsive-table">
    <th>ID</th>
    <th>Nombre</th>
    <th>¿Está bloqueado?</th>
    <th>Editar</th>
    <tr *ngFor="let f of fabricantes">
        <td>{{ f.fabricante }}</td>
        <td>{{ f.nombre }}</td>
        <td>{{ (f.bloqueado != 0) ? 'Sí' : 'No' }}</td>
        <td>
            <button mat-button (click)="editarFabricante(f)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </tr>
</table>
<!-- </mat-sidenav-container> -->