<!-- <button mat-button 0>Open dialog</button> -->
<!-- <mat-sidenav-container fullscreen> -->
<!-- <h1>Usuarios</h1> -->
<button (click)="agregarUsuario()" mat-raised-button color="accent">
  <mat-icon>add</mat-icon>
  Nuevo

</button>
<br>
<br>
  <table style="text-align: center;" class="responsive-table">
    <th>ID</th>
    <th>DNI</th>
    <th>Nombres</th>
    <th>Telefono</th>
    <th>Correo</th>
    <th>Ciudad</th>
    <th>Fecha de registro</th>
    <th>Última actualización</th>
    <th>Editar</th>
    <tr *ngFor="let u of usuarios">
      <td>{{ u.IdUsuario }}</td>
      <td>{{ u.DocumentoIdentidad }}</td>
      <td>{{ u.Nombres }}</td>
      <td>{{ u.Telefono }}</td>
      <td>{{ u.Correo }}</td>
      <td>{{ u.Ciudad }}</td>
      <td>{{ u.FechaRegistro | date:'yyyy-MM-dd' }}</td>
      <td>{{ u.UltimaModificacion | date:'yyyy-MM-dd' }}</td>
      <td><button mat-button (click)="editarUsuario(u)"><mat-icon>edit</mat-icon></button></td>
    </tr>
  </table>
  


<!-- <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="IdUsuario">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.IdUsuario}} </td>
    </ng-container>
  
    <ng-container matColumnDef="DocumentoIdentidad">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.DocumentoIdentidad}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Nombres">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let articulo"> {{articulo.Nombres}} </td>
    </ng-container>
  
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borra? </th>
      <td mat-cell *matCellDef="let j = index;">
        <button mat-raised-button color="warn" focusable="false"><!--(click)="borrarFila(j)">-->
<!-- Borra? -->
<!-- </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table> -->
<!-- 
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="usuarios">
  
      <ng-container matColumnDef="IdUsuario">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let u"> {{u.IdUsuario}} </td>
      </ng-container>
  
      <ng-container matColumnDef="DocumentoIdentidad">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let u"> {{u.DocumentoIdentidad}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let u"> {{u.Nombres}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let u"> {{u.Telefono}} </td>
      </ng-container>

      <ng-container matColumnDef="Correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let u"> {{u.Correo}} </td>
      </ng-container>

      <ng-container matColumnDef="Ciudad">
        <th mat-header-cell *matHeaderCellDef> Ciudad </th>
        <td mat-cell *matCellDef="let u"> {{u.Ciudad}} </td>
      </ng-container>
  
      <ng-container matColumnDef="FechaRegistro">
        <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
        <td mat-cell *matCellDef="let u"> {{u.FechaRegistro | date:'yyyy-MM-dd'}} </td>
      </ng-container>
      
      <ng-container matColumnDef="UltimaModificacion">
        <th mat-header-cell *matHeaderCellDef> Última modificación </th>
        <td mat-cell *matCellDef="let u"> {{u.UltimaModificacion | date:'yyyy-MM-dd'}} </td>
      </ng-container>
      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let u"> <button mat-button (click)="editarUsuario(u)"><mat-icon>edit</mat-icon></button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
   -->
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator> -->
  <!-- </mat-sidenav-container> -->