<h1>
    Agregar tipo de movimiento
</h1>
<br>
<div class="container">
    <mat-form-field [color]="color">
        <mat-label>ID</mat-label>
        <input type="text"
               matInput
               required
               [(ngModel)]="tipo.id">
    </mat-form-field>
    <mat-form-field [color]="color">
        <mat-label>Tipo</mat-label>
        <input type="text"
               matInput
               required
               [(ngModel)]="tipo.tipo">
    </mat-form-field>
</div>
<button mat-raised-button 
        color="primary"
        (click)="guardar()">
            <mat-icon>
                 edit
            </mat-icon> 
            Crear 
</button>